# BULLET Repository Code Owners
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# All code, workflows, configurations, and assets require approval from VishalViswanathan03
* @VishalViswanathan03
